@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    background-color: #FCFCFC;
  }
}

@layer base {
  body {
    @apply dark:bg-zinc-800
  }
}

.content {
  height: 46.875rem;
}

.contact {
  background-image: url(../public/dots4.svg);
  background-size: cover;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.section {
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

input+span {
  position: relative;
}

input+span::before {
  position: absolute;
  right: -25px;
  top: 2px;
}

/* Show red border only when input is invalid and focused */
input:invalid:focus {
  border: 1px solid red;
}

input:invalid:focus+span::before {
  /* content: "✖"; */
  content: '❌';
  color: red;
}

input:valid+span::before {
  /* content: "✓"; */
  content: '✔️';
  color: green;
}

.glow {
  color: f0f0f0;
  padding: none;
  transition: 0.1s;
}

span.glow:hover {
  text-shadow: 0 0 5px rgb(22 163 74);
}